@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');



body {
    background-image: url('../images/Michaela.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    margin: 0px;
    min-height: 50%;
    width: 100%;

}

header {
    margin: 0%;
}

.logo {
    float: left;
    margin: 25px;
    font-family: 'Lobster', sans-serif;
    color: grey;
}

.menuitem {
    margin-top: 25px;
    text-align: center;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;


}



.menuitem:hover {
    text-decoration: none;
    color: rgb(241, 187, 10);
}

.logo:hover {
    text-decoration: none;
    color: rgb(241, 187, 10);
}

footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    text-align: right;
    width: 100%;
}

.par-text {
    margin-top: 10px;
    box-shadow: 5px 5px 5px;
    border: 1px solid;
}



#godparents-title {
    text-align: center;
    color: rgb(175, 214, 34);
    font-family: 'Roboto', sans-serif;
}

.img-fluid rounded-circle {
    border-radius: 25%;
}

#welcome-text {
    text-align: center;
    font-family: 'Lobster', sans-serif;
    margin-top: 5%;
    color: rgb(241, 187, 10);
    text-shadow: 2px 2px grey;
}

.invitation-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 40, 17);
    font-weight: bold;

}
