@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700|Century gothic:100,200,300,400,500,600,700');



body {
    background-image: url('../images/Michaela.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: cover;




}

header {
    margin: 0%;
}

.logo {
    float: left;
    margin: 25px;
    font-family: 'Lobster', sans-serif;
    color: grey;
}

.menuitem {
    margin-top: 25px;
    text-align: center;
    color: grey;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;


}



.menuitem:hover {
    text-decoration: none;
    color: rgb(241, 187, 10);
}

.logo:hover {
    text-decoration: none;
    color: rgb(241, 187, 10);
}

footer {
    flow: right;
    margin-top: 100%;
}

#paragraph {
    margin-top: 5%;
    box-shadow: 5px 5px;
    border: 1px solid;
}

#godparents-title {
    text-align: center;
    color: rgb(175, 214, 34);
    font-family: 'Century Gothic', sans-serif;
}

.img-fluid rounded-circle {
    border-radius: 25%;
}